DEBUG = false
DRAFT = false
GEN_SITEMAP = true
LINK_LANG = de
PUBLIC = true
SITE_DOMAIN = www.riiengineering.ch

################################################################################
# IndexNow

# NOTE: the file name must be non-guessable, because if it can be guessed the
#       key does not have any effect to prevent spamming.
# NOTE: also the key must not be in a sub-directory, it makes IndexNow fail with
#       "One or more URLs are not related to your site verified through the keylocation parameter. Please verify URLs before submitting."
INDEXNOW_KEYFILE = /indexnow-hDJzqNAampvzJkY5EzsWkCbyXwcm4lG9W.txt
INDEXNOW_ENGINES = '*'
